<div class="highlight">
  <div class="description">
    <p class="project-title">{{model.hoverText}}</p>
    <div class="types">
      {{#each model.type as |type|}}
          {{type}}
      {{/each}}
    </div>
    <p class="description-text">{{model.detail.description}}</p>
  </div>
  <div class="highlightImgDiv">
    {{#lazy-image url=model.detail.img1 class="img"}}
      {{little-spinner}}
    {{/lazy-image}}
  </div>
</div>
<div class="imgRow">
  <div class="secondaryImgDiv">
    {{#lazy-image url=model.detail.img3 class="img"}}
      {{little-spinner}}
    {{/lazy-image}}
  </div>
  <div class="secondaryImgDiv">
    {{#lazy-image url=model.detail.img2 class="img"}}
      {{little-spinner}}
    {{/lazy-image}}
  </div>
</div>

{{#if model.detail.hasVideo}}
  <video class="video" poster="{{model.detail.img1}}" controls preload loop>
      <source src={{model.detail.video1}} type={{model.detail.videoType}}>
  </video>
{{/if}}
