<div id="content">
  
  <div class="top-menu">
    {{#link-to 'portfolio' class='title link top-menu-button'}}
      Patrick<span style="font-weight:700">Scheer</span>
    {{/link-to}}
    
    <button {{action "toggleBurger"}} class="hamburgerTrigger {{if menuIsOpen "active"}}">
      <i></i><i></i><i></i>
    </button>

    {{#if menuIsOpen}}
        {{#ember-wormhole to="content"}}
            <div class="overlay">
              <button {{action "toggleBurger"}} class="hamburgerTrigger {{if menuIsOpen "active"}}">
                <i></i><i></i><i></i>
              </button>
              <button {{action "changeRoute" "portfolio"}} class='overlay-button'>
                  portfolio
              </button>

              <button {{action "changeRoute" "about"}} class='overlay-button'>
                  about
              </button>
            </div>
        {{/ember-wormhole}}
    {{/if}}

    <div class="top-menu-buttons">
      {{#link-to 'portfolio' class='top-menu-button link'}}
        portfolio
      {{/link-to}}

      {{#link-to 'about' class='top-menu-button link'}}
        about
      {{/link-to}}
    </div>
  </div>
  <div class="content-wrapper">
    {{outlet}}
  </div>
</div>
<div class="footer">
  <p class='footer-text'> Patrick Scheer - Augsburg - 2017</p>
  <a class='link footer-link' href="mailto:contact@patrick-scheer.com">Contact@Patrick-Scheer.com</a> 
</div>